<p id="notice"><%= notice %></p>

<h1>Listing Subjects</h1>

<table>
  <thead>
    <tr>
      <th>Subject ID</th>
      <th>Subject Name</th>
      <th>Subject Type</th>
      <th>Subject Abbreviation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td align="center"><%= subject.s_id %></td>
        <td align="center"><%= subject.s_name %></td>
        <td align="center"><%= subject.s_type %></td>
        <td align="center"><%= subject.s_abbr %></td>
        <td align="center"><%= link_to 'Show', subject %></td>
        <td align="center"><%= link_to 'Edit', edit_subject_path(subject) %></td>
        <td align="center"><%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subject', new_subject_path %>
