<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :c_id %><br>
    <%= f.text_field :c_id %>
  </div>
  <div class="field">
    <%= f.label :c_type %><br>
    <%= f.text_field :c_type %>
  </div>
  <div class="field">
    <%= f.label :c_code %><br>
    <%= f.text_field :c_code %>
  </div>
  <div class="field">
    <%= f.label :c_name %><br>
    <%= f.text_field :c_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
