<p id="notice"><%= notice %></p>

<p>
  <strong>C:</strong>
  <%= @course.c_id %>
</p>

<p>
  <strong>C type:</strong>
  <%= @course.c_type %>
</p>

<p>
  <strong>C code:</strong>
  <%= @course.c_code %>
</p>

<p>
  <strong>C name:</strong>
  <%= @course.c_name %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
